$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$error: var(--error);
$dark: var(--dark);
$black: var(--black);
$white: var(--white);
$grey-400: var(--grey-400);
$grey-300: var(--grey-300);
$grey-200: var(--grey-200);
$grey-100: var(--grey-100);
